# JUCE-specific ignores
.juce/
Builds/
JuceLibraryCode/
Projucer/
.DS_Store
.vscode/
.idea/
*.suo
*.user
*.userprefs
# Remove the exclusion for your "Resources" folder and its contents
!Resources/
!Resources/NavigatorIcons/
